{% extends "base.html" %}

{% block content %}
<h1 class="text-center">Works log</h1>
<div>
    <a href="/depart_list_add" class="btn btn-warning">
            Добавить депортамент
    </a>
    {% for depart in departs %}
    <div style="margin-top:10px">
        <h1>Department {{ loop.index }}</h1>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Название работы</th>
                        <th>фамилия и имя ответственного</th>
                        <th>список id команды</th>
                        <th>Почта</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>{{ depart.title }}</th>
                        <th>{{ depart.user.surname }} {{ depart.user.name }}</th>
                        <th>{{ depart.members }}</th>
                        <th>{{ depart.email }}</th>
                    </tr>
                </tbody>
            </table>
            {% if current_user.is_authenticated and (current_user.user == depart.chief or current_user.id == 1) %}
                <div>
                    <a href="depart_list/{{ loop.index }}" class="btn btn-warning">
                        Изменить
                    </a>
                    <a href="del_jobs/{{ loop.index }}" class="btn btn-danger">
                        Удалить
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}