{% extends "base.html" %}

{% block content %}
    <h1 class="text-center">Пейзажи Марса</h1>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            {% for i in lst %}
                <div class="carousel-item {% if loop.first %} active {% endif %}">
                    <img src="{{ i }}" class="d-block w-100" height="30%">
                </div>
            {% endfor %}
        </div>
    </div>
    <div style="background-color: blue; color: white">
        <form action="" method="post" novalidate>
            <label>Вставить картинку</label>
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <input type="file">
                </div>
                <input type="submit">
            </form>
        </form>
    </div>
{% endblock %}